*{
    margin: 0px;
    font-family:  'Open Sans', sans-serif;
}

header{
    position: absolute;
    width: 1600px;
    height: 808px;
    left: 0px;
    top: 1px;
    background-image: url("../images/banner/banner3.png")
    
}
.line{
 position: absolute;
width: 525px;
height: 228px;
left: 845px;
top: 216px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 65px;
line-height: 76px;
text-align: left;
}
.para{
position: absolute;
width: 494px;
height: 78px;
left: 825px;
top: 468px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 400px;
font-size: 16px;
line-height: 26px;
text-align: right;
color: #FFFFFF;
}

.btn{
    position: absolute;
width: 100px;
height: 32px;
left: 1210px;
top: 578px;
bottom: 160px;
border-radius: 50px;

}
main{
    max-width: 1072px;
    margin-top: 950px;
    

}
.about {
    
    position: absolute;
    width: 1074px;
    height: 723.3px;
    left: 264px;
    top: 983px;
    display: flex;
}
.child-1{
    position: absolute;
    width: 500px;
    height: 110px;
    left: 620px;
    top: 200px;
    font-family: "work sans";
    font-size: 30px;
    font-weight: 700px;
    line-height: 37px;
}
.child-2 {
    position: absolute;
width: 437px;
height: 100px;
left: 620px;
top: 300px;
line-height: 26px;
}
.list{
    position: absolute;
width: 1002px;
height: 1200px;
left: 600px;
top: 430px;
line-height: 47px ;

}
.plans{
    position: absolute;
    top: 1800px;
    width: 170px;
    height: 40px;
    left: 650px;
    text-align: center;
    line-height: 40px;

    font-family: "work sans";
    font-size: 30px;
    font-weight: 35px;
}
.section-parent{
    position: absolute;
    top: 1890px;
    width: 160px;
    height: 40px;
    left: 300px;
    align-items: baseline;
    display: flex;
    gap: 180px;

}

.sec-child{
    background-color: aliceblue;
    border-radius: 5px;
}

.plan-title{
    margin-top: 5px;
    font-family: 'Work Sans';
    font-style: oblique;
    font-weight: 10;
    font-size: medium;
    line-height: 15px;
    text-align: center;
    color: #151414;
 }

 .plan-description{
    margin-top: 9px;
    font-family: 'Work Sans';
    font-style: oblique;
    font-weight: 10;
    font-size: small;
    line-height: 15px;
    text-align: center;
    color: #151414;

 }
 .keep-positive{
    position:absolute;
    width: 1140px;
    height: 300px;;
    top: 2200px;
    left: 260px;
    background:linear-gradient(to right,rgba(10, 92, 159, 0.807),rgba(0, 95, 172, 0)),url("../images/watch.png") ;
}

 .positive{
    position:absolute;
    top: 80px;
    left: 50px;
    line-height: 35px;

    font-family: "work sans";
    font-size: 30px;
    font-weight: 35px;
    color: aliceblue;


 }

.btn-cls{
    position:absolute;
    top: 180px;
    left: 50px;
    padding: 10px;
    border-radius: 50px;
    color: white;
    background-color:rgb(51, 166, 220);
}
.future{
    position: absolute;
    top: 2640px;
    width: 1600px;
    height: 300px;
    background: #151414;
    display: flex;
}

.mail{
    position: absolute;
width: 485px;
height: 100px;
left: 200px;
top: 40px;
color: #FFFFFF;


}
.subs{
    position: absolute;
    width: 485px;
    left: 800px;
    top: 50px;
    color: #FFFFFF;
}

.contain{
    font-size: 35px;
    font-family: "work sans";
    font-weight: 40px;
    line-height: 70px;
}

.lorem{
    font-size: 15px;
    font-family: "work sans";
    font-weight: 40px;
    line-height: 30px;

}
.com{
    font-size: 15px;
    font-family: "work sans";
    font-weight: 40px;
    line-height: 30px;
 
}
.phn{
    font-size: 15px;
    font-family: "work sans";
    font-weight: 40px;
    line-height: 30px;

}
.sub-contain{
    font-size: 35px;
    font-family: "work sans";
    font-weight: 40px;
    line-height: 70px;
    
}
.sub-button{
    position: absolute;
    top: 110px;
    background-color:dodgerblue;
    color: #FFFFFF;
    line-height: 35px;
    left: 30px;
    border-radius: 50%;
}



